@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    padding: 0;
    margin: 0;
    font-family: 'robotothin' , Arial, Helvetica, sans-serif ;
}

body
{
    display: flex;
    flex-direction: column; 
}

header
{
    display: flex;
    justify-content: center;
    z-index: 2;
}

#head
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    max-height: 100px;
}

#nav
{
    margin-top: 40px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a
{
    color: black;
    text-decoration: none;
}

section
{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

#sect1
{
    max-width: 1200px;
    width: 100%;
    height: 500px  ;
    background-image: url(Images/backgroung_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

#main-image
{
    display: flex;
    flex-direction: column-reverse;
}

#loggraph
{
    max-width: 200px;
    width: auto;
    margin: 0 auto;
    display: flex;
    margin: auto;
}

#main-image h1
{
    display: flex;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}

#midpage
{
    color: black;
    z-index: 3;
    font-size: 3em;
}

#midpage h2
{
    text-align: center;
    vertical-align: center;
    max-width: 800px;
    font-size: 0.5em;
    margin: auto;
    margin-top: 30px;
    color: #675757;
    margin-bottom: 100px;
    font-family: 'robotolight' , Arial, Helvetica, sans-serif;
}

#descript
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    justify-content: space-between;
}

#descript1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
}

#descript2
{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

#descript3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

#descript img
{
    width: 75px;
    margin-bottom: 20px;
}

#descript p
{
    text-align: center;
    white-space: normal;
    font-size: 0.95em;
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
}

#expclient
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    max-width: 580px;
    min-height: 130px;
}

#expclient h2
{
    color: #675757;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

#expclient h3
{
    font-size: 1em;
    color: #675757;
}

#piedpage
{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: #5b359d;
    height: 220px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headfoot
{
    display: flex;
    flex-direction: column;
}

#mpg h3
{
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    margin-top: 20px;
}

#logrezo
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

}

#tweet
{
    color: #bdaed8;
    font-size: 2em;
}

#fcbk
{
    color: #bdaed8;
    font-size: 2em;
}

#insta
{
    color: #bdaed8;
    font-size: 2em;
}

#footfoot
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}   

#footfoot h1
{
    color: #bdaed8;
    font-size: 1.2em;
    margin-right: 20px;
}

li
{
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}


#coord li
{
    list-style-type: none;
}