@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    padding: 0;
    margin: 0;
    font-family: 'robotothin' , Arial, Helvetica, sans-serif ;
}

body
{
    display: flex;
    flex-direction: column; 
}

header
{
    display: flex;
    justify-content: center;
    z-index: 2;
}

#head
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    max-height: 100px;
}

#nav
{
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

header a
{
    color: black;
    text-decoration: none;
}

section
{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

#sect1
{
    max-width: 1200px;
    min-width: 350px;
    width: 100%;
    height: 500px;
    background-image: url(Images/backgroung_image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

#main-image
{
    display: flex;
    flex-direction: column-reverse;
}

#loggraph
{
    max-width: 200px;
    width: auto;
    margin: 0 auto;
    display: flex;
}

#main-image h1
{
    display: flex;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    margin-top: 23px;
    text-align: center;
    vertical-align: center;
}

#midpage
{
    color: black;
    z-index: 3;
    font-size: 3em;
}

#midpage h2
{
    text-align: center;
    vertical-align: center;
    max-width: 800px;
    font-size: 0.5em;
    margin: auto;
    margin-top: 30px;
    color: #675757;
    margin-bottom: 100px;
    font-family: 'robotolight' , Arial, Helvetica, sans-serif;
}

#descript
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

#descript1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
}

#descript2
{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

#descript3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

#descript img
{
    width: 75px;
    margin-bottom: 20px;
}

#descript p
{
    text-align: center;
    white-space: normal;
    font-size: 0.95em;
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
}

#expclient
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    max-width: 580px;
    min-height: 130px;
}

#expclient h2
{
    color: #675757;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

#expclient h3
{
    font-size: 1em;
    color: #675757;
}

#piedpage
{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: #5b359d;
    min-height: 240px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headfoot
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#mpg h3
{
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    margin-top: 20px;
    text-align: center;
    vertical-align: center;
}

#logrezo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;

}

#tweet
{
    color: #bdaed8;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

#fcbk
{
    color: #bdaed8;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

#insta
{
    color: #bdaed8;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
}

#footfoot
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
    flex-wrap: wrap;
}   

#footfoot h1
{
    color: #bdaed8;
    font-size: 1.2em;
}

#acces
{
    display: flex;
    flex-direction: column;
}

#propos
{
    display: flex;
    flex-direction: column;
}

#coord
{
    display: flex;
    flex-direction: column;
}

ul li
{
    list-style-position: inside;
    padding-left: 40px;
}

ul
{
    padding-top: 15px;
}

li
{
    font-family: 'robotoregular' , Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}


#coord li
{
    list-style-type: none;
}


@media all and (max-width: 540px)
{
    #head
    {
       flex-wrap: wrap;
    }

    #sect1
    {
        margin-top: 50px;
    }

    #nav
    {
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin-left: 80px;
    }

    header
    {
        background-color: #5b359d;
        height: 105px;
    }
}

@media all and (max-width: 1024px)
{
    #sect1
    {
        height: 400px;
    }

    #descript1
    {
        margin-left: 20px;
    }

    #descript2
    {
        margin-left: 20px;
    }

    #piedpage
    {
        width: 100%;
    }
}

@media all and (max-width: 768px)
{
    #sect1
    {
        height: 300px;
    }

    #loggraph
    {
        max-width: 170px;
    }
}

@media all and (max-width: 600px)
{
    #sect1
    {
        height: 200px;
    }

    #loggraph
    {
        max-width: 140px;
    }
}

@media all and (max-width: 939px)
{
    #descript3
    {
        margin-top: 20px;
    }

    #descript
    {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 639px)
{
    #descript2
    {
        margin-top: 20px;
    }
}

@media all and (max-width: 560px)
{
    #access
    {
        margin-top: 20px;
    }

    #propos
    {
        margin-top: 20px;
    }

    #coord
    {
        margin-top: 20px;
    }
}
